.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
.nameContainer {
  text-align: center;
 vertical-align:top;
  min-height: 30px;
  padding-bottom: 20px;
  
}

.brandName {
  font-weight: 600;
  font-size: 12px;
  font-family: sans-serif;
  color: #616161;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
.productBrandContainer--brand{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height:15px;
 
}
.productBrandName--brand{
font-family: sans-serif;
font-weight:bold;
font-size: 15px;
color:#424242

}
.image--image{
  padding-top: 30px;
}
.element :global(.vtex-product-summary-2-x-imageContainer) :global(.vtex-store-components-3-x-discountInsideContainer){
  right: 0px;
  width: 65px;
  height: 40px;
  background-color: red;
   border-radius: 0%;
   padding-top: 9px;
   font-size: 20px;
   font-weight: 600;
}