.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #FFFFFF;
}
.sliderLayoutContainer--shelf {
 padding-left: 20px;
 padding-right: 20px;
}

.sliderTrackContainer {
  max-width: 100%;
}
.slideChildrenContainer--shelf {
  border-radius: 15px;
  background-color: #FFFFFF;
  width: 235px;
  height:400px;

}
.slideChildrenContainer--marcas {
  background-color: #eeeeee;
  padding-bottom: 50px;
  display:inline-flex;

}
.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 550px;
}

