.productHighlightWrapper--collection {
  position:absolute;
  margin-top: 0.15rem;
  padding-top: 5px;
  padding-right: 15px;
  width: 200px;
}

.productHighlightText {
  color: white;
  background: #90B62D;
  border-radius: 20px;
  padding: 7px 15px;
  margin-left: 30%;
}
