.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--shelf {
  background-color:#F0F0F0 ;
  margin-right: 55%;
}
.sliderLayoutContainer--mshelf {
  background-color:#F0F0F0 ;
  margin-right: 5.5rem;
  padding-bottom: 4rem;
}
.sliderLayoutContainer--shelf-related {
  background-color:#F0F0F0 ;
  margin-right: 60%;
}
.sliderLayoutContainer--shelf-pdp-mobile {
 margin-bottom: 1rem;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.slide--shelf-related {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.sliderArrows--shelf-related{
  margin-right: 10px;
}